name: post-tweet

on:
  #schedule:
  #  - cron:  '*/6 * * * *'
  push:
    branches:
      - main
jobs:
  rstatspkgbot-tweet:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@main
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
      - name: git config
        run: |
          git config user.email github-actions@github.com
          git config user.name github-actions
      - name: Create and post tweet
        run: Rscript create_post_and_tweet.R
        env:
          TWITTER_CONSUMER_API_KEY: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
          TWITTER_CONSUMER_API_SECRET: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
      - name: Commit and Push changes
        run: |
          git diff-index --quiet HEAD || (git commit -a -m'[bot]: update latest twitter likes data' --allow-empty && git push -f)
